body {
    margin:0;
    padding:0;
}
.contenedor {
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
    width:100%;
    background-color:rgb(27, 27, 27);
}
.mesa {
    position:relative;
    width:80%;
    height: 80%;
    background-image: url(img/mesamadera.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius:15px;
    box-shadow: 3px 3px 15px;
}
.imagenJugador1 {
    position:absolute;
    width:150px;
    height:150px;
    top:75%;
    left:1%;
    border-radius:15px;
    transform: translate(0, -25%); /*CENTRAR */
    border:5px outset;
}
.imagenJugador1 h1 {
    text-align:center;
    position:relative;
    color:black;
    top:-10px;
    border-radius:13px;
    color:white;
}
.imagenJugador2 {
    position:absolute;
    width:150px;
    height:150px;
    top:5%;
    right:1%;
    border-radius:15px;
    border:5px outset;
}

.imagenJugador1 img, .imagenJugador2 img {
    width:100%;
    height:100%;
    border-radius:10px;
}
.botones {
    position:absolute;
    bottom:5px;
    left:5px;
    width:33%;
    height:50px;
    display:flex;
    justify-content: center;
    align-items:center;
    gap:5px;
}
#noquiero {
    background-color: rgba(247, 40, 12, 0.836);
    box-shadow: 0px 5px 0px 0px rgb(0, 0, 0);;
}
.botones button {
    border: none;
    outline: none;
    background-color: rgba(126, 99, 62, 0.918);
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px rgb(37, 37, 37);;
}
.botones button:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #ececf0;
  }
  #noquiero:active{
    box-shadow: 0px 0px 0px 0px #a9a8b6;
  }

.manoJugador {
    position:absolute;
    bottom:15px;
    left:50%;
    transform: translate(-50%, 0); /*CENTRAR */
    display:flex;
    gap:5px;
}
.manoComputadora {
    position:absolute;
    top:15px;
    left:50%;
    transform: translate(-50%, 0); /*CENTRAR */
    display:flex;
    gap:5px;
}
#cartaC0{
    transform:rotate(10deg);
}
#cartaC1 {
    transform:translateY(20px);
}
#cartaC2{
    transform:rotate(-10deg);
}
.cartasCompu {
    display:flex;
    flex-direction:row;
    width:120px;
    height:170px;
}
.cartas {
    display:flex;
    flex-direction:row;
    width:150px;
    height:170px;
}
#carta0 {
    transform:rotate(-10deg);
}
#carta1 {
    transform:translateY(-20px);
}
#carta2 {
    transform:rotate(10deg);
}
.cartasEnMesa {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%); /*CENTRAR */
    width:30%;
    height:45%;
    display:flex;
    gap:15px;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
}
.cartasEnMesa div {
    width:120px;
    height:150px;
}

.texto {
    width:150px;
    height:35px;
    background-color:white;
    position:absolute;
    top:0px;
    left:120%;
    border-radius:15px;
    display:none;
}
.texto:after{
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    margin-left: -13px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 15px solid #fff;
}
.texto h1 {
    display:flex;
    justify-content: center;
    width:100%;
    height:100%;
    color: black;
    font-size: 20px;
}
.texto2 {
    width:150px;
    height:35px;
    background-color:white;
    position:absolute;
    top:0px;
    left:-120%;
    border-radius:15px;
    display:none;
    justify-content: center;
    align-items:center;
}
.texto2:after{
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    right:0;
    margin-right:-13px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 15px solid #fffdfd;
}
.texto2 h1 {
    display:flex;
    justify-content: center;
    align-items:center;
    width:100%;
    height:100%;
    color: black;
    font-size: 20px;
}

@keyframes rotacion {
    from {
        transform:translateY(150px);
    }
    to {
        transform:translateY(0px) rotate(180deg);
    }
}
@keyframes rotacion2 {
    from {
        transform:translateY(-150px);
    }
    to {
        transform:translateY(0px) rotate(-180deg);
    }
}
.musica {
    position:fixed;
    top:0;
    left:0;
}
.puntuacion {
    position:absolute;
    height:60px;
    left:1%;
    top:-9%;
    width:25%;
    backdrop-filter:blur(5px);
    border-radius:5px;
    box-shadow:0px 0px 5px rgb(160, 160, 160);
    overflow:hidden;
}
.nombres {
    position:absolute;
    height:25%;
    width:100%;
    display:flex;
    gap:25%;
    justify-content: center;
}
#nombreJugador, #nombreComputadora {
    font-family:arial;
    font-size:15px;
    font-weight: 800;
    color:white;
}
.puntos {
    position:absolute;
    top:50%;
    width:100%;

    height:50%;
    display:flex;
    justify-content: center;
}
#puntosJugador,#puntosComputadora {
    font-size:25px;
    font-weight: 600;
    color:white;
    display:flex;
    width:50%;
    height:100%;
    justify-content: center;
    align-items:center;
}
