body {
    margin:0;
    padding:0;
    background-color:rgb(36, 33, 33);
}
.puntuacion {
    box-shadow:1px 1px 8px rgb(0, 0, 0);
    z-index:10;
    position:absolute;
    left:15px;
    top:15px;
    width:300px;
    height: 50px;
    border:3px solid rgb(141, 103, 52);
    background-color:rgba(0, 0, 0,.7);
    display:flex;
    flex-direction: row;
    gap:5px;
}
.puntos-jugador {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:50%;
    height:100%;
}
.puntos-jugador p,.puntos-computadora p{
    margin:0;
    font-weight: 600;
    color:rgb(255, 255, 255);
}

.puntos-computadora {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:50%;
    height:100%;
}
.botonera-jugador {
    z-index:15;
    width:350px;
    position:absolute;
    bottom:35px;
    left:75px;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    gap:5px;
}
#foto-jugador {
    position:absolute;
    bottom:15px;
    left:15px;
    z-index:11;
    border-radius:5px;
    border:4px solid rgb(44, 37, 17);
    text-align:center;
    width:135px;
    height:175px;
    box-shadow: 1px 2px 8px black;
}
#foto-jugador img {
    width:100%;
    height:130px;
}
#nombre-jugador {
    color:rgb(10, 10, 10);
    text-shadow:0px 0px 3px rgb(65, 62, 62);
    font-weight: 800;
    font-size:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:0;
    width:135px;
    height:45px;
    background-image: url(img/pedazoMadera.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.dialogo-computadora { 
    position:absolute;
    top:15px;
    right:75px;
    width:125px;
    height:50px;
    background-color:white;
    border-radius:15px;
    color:black;
    font-weight: 600;
    display:flex;
    justify-content: center;
    align-items:center;
    opacity:0;
    box-shadow:0px 0px 5px black;
}
.dialogo-computadora p {
    font-family:Arial;
    color:black;
}

#foto-computadora {
    border-radius:5px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius:5px;
    box-shadow: 1px 2px 8px black;
    z-index:10;
    text-align:center;
    position:absolute;
    right:10px;
    top:10px;
    width:135px;
    height:175px;
    border:4px solid rgb(44, 37, 17);
    font-weight: 600;
    color:rgb(255, 255, 255);
}

#foto-computadora img {
    width:100%;
    height:130px;
}
#nombre-computadora {
    color:rgb(10, 10, 10);
    text-shadow:0px 0px 3px rgb(65, 62, 62);
    font-weight: 800;
    font-size:19px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:0;
    width:135px;
    height:45px;
    background-image: url(img/pedazoMadera.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.contenedor-botones {
    display:flex;
    flex-direction:column;
    gap:5px;
}
.contenedor-botones button {
    cursor:pointer;
    width:158px;
    height: 35px;
    border:3px solid rgb(141, 103, 52);
    padding:5px;
    z-index:10;
    background-color:rgba(0, 0, 0,.7);
    border-radius:5px;
    font-weight: 600;
    color:rgb(255, 255, 255);
}
.contenedor-mesa {
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    perspective: 700px; /* Da sensación de profundidad */
}
.mesa {
    border:6px solid rgb(141, 103, 52);
    position:relative;
    width:1050px;
    height:800px;
    background-image: url(img/maderaFondo.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius:15px;
    transform: rotateX(50deg); /* Inclina el div hacia adentro */
      transform-origin: center; /* El punto de rotación */
      transform-style: preserve-3d; /* Asegura que cualquier contenido 3D dentro funcione correctamente */
}

.mano-computadora, .mano-jugador, .centro-mesa {
    display:flex;
    justify-content: center;
    align-items:center;
}

.centro-mesa {
    position:relative;
    width:100%;
    height:350px;
    flex-direction:column;
}
.centro-mesa-lado-computadora, .centro-mesa-lado-jugador{
    display:flex;
    justify-content: center;
}

.centro-mesa-lado-computadora {
    height:50%;
    width:100%;
}

.centro-mesa-lado-jugador{
    height:50%;
    width:100%;
}


.mano-jugador {
    position:absolute;
    z-index:14;
    bottom:0px;
    width:100%;
    height:225px;
    display:flex;
    transform-style: preserve-3d; /* Asegura que cualquier contenido 3D dentro funcione correctamente */
}
.mano-jugador > * {
    margin-right: -35px;  /* Ajusta el valor negativo según lo cerca que quieras los elementos */
}

.carta {
    max-width:150px;
    max-height:175px;
    height:175px;
}

.carta img {
    width:100%;
    height:100%;
}

.dialogo-jugador {
    box-shadow:0px 0px 5px black;
    position:absolute;
    left:5px;
    top:-40px;
    width:125px;
    height:50px;
    background-color:white;
    border-radius:15px;
    color:black;
    font-weight: 600;
    display:flex;
    justify-content: center;
    align-items:center;
    opacity:0;
    font-family:Arial;
}
.dialogo-jugador p {
    color:black;
}

#carta1 {
    transform:rotate(-10deg);
}
#carta2 {
    transform:translateY(-15px);
}
#carta3 {
    transform:rotate(10deg);
}

.centro-mesa-lado-jugador #carta1 {
    transform:rotate(0deg);
}
.centro-mesa-lado-jugador #carta2 {
    transform:translateY(0);
}
.centro-mesa-lado-jugador #carta3 {
    transform:rotate(0deg);
}

#carta4 {
    transform:rotate(10deg);
}
#carta5 {
    transform:translateY(15px);
}
#carta6 {
    transform:rotate(-10deg);
}

.centro-mesa-lado-computadora #carta4 {
    transform:rotate(0deg);
}
.centro-mesa-lado-computadora #carta5 {
    transform:translateY(0);
}
.centro-mesa-lado-computadora #carta6 {
    transform:rotate(0deg);
}

.mano-computadora > * {
    margin-right: -35px;  /* Ajusta el valor negativo según lo cerca que quieras los elementos */
}

.contenedor-boton-envido {
    height:36px;
    max-height:50px;
    width:158px;
    gap:3px;
    position:relative;
    display:flex;
    flex-direction: row;
}

.boton-envido-activo {
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    width:35px;
}

.contenedor-foto-botonera {
    position:fixed;
    bottom:0;
    width:100%;
    height:130px;
    display:flex;
    flex-direction:row;
    background-color:red;
    justify-content: center;
    align-items: center;
    z-index:13;
    gap:25px;
}
.mano-computadora { 
    position:relative;
    width:100%;
    height:325px;
    gap:25px;
    transform:rotateX(60deg) translateY(200px);
}


@keyframes moverse {
    from {
        z-index:10;
        transform:translateY(150px) rotate(360deg);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes aparicion {
    from {
        transform:scale(.6);
        opacity:.5;
    }
    to {
        opacity:1;
        transform:scale(1);
    }
}

@keyframes moverseComputadora {
    from {
        z-index:10;
        transform:translateY(-150px) rotate(360deg);
    }
    to {
        transform: translateY(0px);
    }
}


@media (max-width: 550px) {
    .mesa {
        width:100%;
        height:70%;
        max-height:100%;
        max-width: 100%;
       
    }
    .puntuacion {
        width:200px;
        height:35px;
        font-size:11px;
        left:50%;
        transform:translateX(-50%);
    }
    .contenedor-mesa {
        height:100vh;
        width:100%;
        overflow: hidden;
    }
    #foto-computadora {
        width: 95px;
        height:100px;
    }

    #foto-computadora img {
        height:75px;
        width:100%;
    }

    #nombre-computadora {
        height:25px;
        font-size:16px;
        width:100%;
    }

    .mano-computadora {
        top:35px;
        height:175px;
    }
    .mano-jugador {
        bottom:85px;
        height:175px;
    }
    .carta {
        width:100px;
        height:135px;
    }

    .cartas-computadora {
        width:80px;
        height:115px;
    }
    .centro-mesa-lado-computadora .cartas-computadora {
        width:100px;
        height:135px;
    }
    
    .centro-mesa-lado-computadora {
        align-items:center;
        height:130px;
    }
    .centro-mesa-lado-jugador {
        align-items:center;
        height:130px;
    }

    .botonera-jugador {
        display:flex;
        justify-content: center;
        height:55px;
        position:absolute;
        width:100%;
        bottom:15px;
        left:0;
        z-index:14;
    }
    .contenedor-botones {
        width:95%;
        height:50px;
        flex-direction: row;
        justify-content: center;
        align-items:center;
    }

    .contenedor-botones button {
        width:85px;
        height:50px;
    }
    .contenedor-boton-envido {
        
        height:159px;
        width:85px;
        gap:3px;
        position:relative;
        display:flex;
        flex-direction: column-reverse;
    }
    .boton-envido-activo {
        font-size:13px;
    }

    #foto-jugador {
        position:absolute;
        top:10px;
        left:5px;
        width: 100px;
        height:100px;
    }

    #foto-jugador img {
        height:75px;
        width:100%;
    }

    #nombre-jugador {
        font-size:16px;
        width:100%;
        height:25px;
    }
    .dialogo-jugador {
        width:90px;
        height:35px;
        left:5px;
        top:115px;
        font-size:14px;
    }

    .dialogo-computadora {
        width:90px;
        height:35px;
        left:5px;
        top:115px;
        font-size:14px;
    }
    #boton-envido {
        min-height: 50px;
    }
}

@media (max-width: 450px) {
    .puntuacion {
        width:160px;
    }
}