body {
    margin:0;
    padding:0;
    background-color:rgb(36, 33, 33);
}
.puntuacion {
    z-index:10;
    position:absolute;
    left:15px;
    top:15px;
    width:300px;
    height: 50px;
    border:3px solid rgb(141, 103, 52);
    background-color:rgba(0, 0, 0,.7);
    display:flex;
    flex-direction: row;
    gap:5px;
}
.puntos-jugador {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:50%;
    height:100%;
}
.puntos-jugador p,.puntos-computadora p{
    margin:0;
    font-weight: 600;
    color:rgb(255, 255, 255);
}

.puntos-computadora {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:50%;
    height:100%;
}
.botonera-jugador {
    width:350px;
    position:absolute;
    bottom:15px;
    left:0;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    gap:5px;
}
#foto-jugador {
    text-align:center;
    width:175px;
    height:100%;
    border:3px solid rgba(28, 31, 230, 0.74);
    background-color:rgba(34, 36, 168, 0.7);
    font-weight: 600;
    color:rgb(255, 255, 255);
}
#foto-jugador img {
    width:100%;
    height:100%;
}

.dialogo-computadora {
    position:absolute;
    bottom:-65px;
    left:15px;
    width:150px;
    height:50px;
    background-color:white;
    border-radius:15px;
    color:black;
    font-weight: 600;
    display:flex;
    justify-content: center;
    align-items:center;
    opacity:0;
}
.dialogo-computadora p {
    color:black;
}

#foto-computadora {
    z-index:10;
    text-align:center;
    position:absolute;
    right:10px;
    top:10px;
    width:175px;
    border:3px solid rgba(125, 28, 252, 0.74);
    background-color:rgba(116, 44, 199, 0.7);
    font-weight: 600;
    color:rgb(255, 255, 255);
}

#foto-computadora img {
    width:100%;
    height:100%;
}

.contenedor-botones {
    display:flex;
    flex-direction:column;
    gap:5px;
}
.contenedor-botones button {
    cursor:pointer;
    width:158px;
    height: 35px;
    border:3px solid rgb(141, 103, 52);
    padding:5px;
    z-index:10;
    background-color:rgba(0, 0, 0,.7);
    border-radius:5px;
    font-weight: 600;
    color:rgb(255, 255, 255);
}
.contenedor-mesa {
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}
.mesa {
    border:3px solid rgb(141, 103, 52);
    position:relative;
    width:1350px;
    height:800px;
    background-image: url(img/maderaFondo.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius:15px;
}

.mano-computadora, .mano-jugador, .centro-mesa {
    display:flex;
    justify-content: center;
    align-items:center;
}
.mano-computadora { 
    position:relative;
    width:100%;
    height:225px;
    gap:25px;
}
.centro-mesa {
    position:relative;
    width:100%;
    height:350px;
    flex-direction:column;
}
.centro-mesa-lado-computadora, .centro-mesa-lado-jugador{
    display:flex;
    justify-content: center;
}

.centro-mesa-lado-computadora {
    height:50%;
    width:100%;
}

.centro-mesa-lado-jugador{
    height:50%;
    width:100%;
}


.mano-jugador {
    position:relative;
    width:100%;
    height:225px;
    display:flex;
}
.mano-jugador > * {
    margin-right: -35px;  /* Ajusta el valor negativo según lo cerca que quieras los elementos */
}

.carta {
    max-width:150px;
    max-height:175px;
    height:175px;
}

.carta img {
    width:100%;
    height:100%;
}

.dialogo-jugador {
    position:absolute;
    left:25px;
    top:-65px;
    width:150px;
    height:50px;
    background-color:white;
    border-radius:15px;
    color:black;
    font-weight: 600;
    display:flex;
    justify-content: center;
    align-items:center;
    opacity:0;
}
.dialogo-jugador p {
    color:black;
}

#carta1 {
    transform:rotate(-10deg);
}
#carta2 {
    transform:translateY(-15px);
}
#carta3 {
    transform:rotate(10deg);
}

.centro-mesa-lado-jugador #carta1 {
    transform:rotate(0deg);
}
.centro-mesa-lado-jugador #carta2 {
    transform:translateY(0);
}
.centro-mesa-lado-jugador #carta3 {
    transform:rotate(0deg);
}

#carta4 {
    transform:rotate(10deg);
}
#carta5 {
    transform:translateY(15px);
}
#carta6 {
    transform:rotate(-10deg);
}

.centro-mesa-lado-computadora #carta4 {
    transform:rotate(0deg);
}
.centro-mesa-lado-computadora #carta5 {
    transform:translateY(0);
}
.centro-mesa-lado-computadora #carta6 {
    transform:rotate(0deg);
}

.mano-computadora > * {
    margin-right: -35px;  /* Ajusta el valor negativo según lo cerca que quieras los elementos */
}

.contenedor-boton-envido {
    height:36px;
    width:158px;
    gap:3px;
    position:relative;
    display:flex;
    flex-direction: row;
}

.boton-envido-activo {
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    width:35px;
}


@keyframes moverse {
    from {
        z-index:10;
        transform:translateY(150px) rotate(360deg);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes aparicion {
    from {
        transform:scale(.6);
        opacity:.5;
    }
    to {
        opacity:1;
        transform:scale(1);
    }
}

@keyframes moverseComputadora {
    from {
        z-index:10;
        transform:translateY(-150px) rotate(360deg);
    }
    to {
        transform: translateY(0px);
    }
}


@media (max-width: 550px) {
    .mesa {
        width:100%;
        height:100%;
        max-height:100%;
        max-width: 100%;
        border:none;
        border-radius:0;
    }
    .puntuacion {
        width:200px;
        height:35px;
        font-size:11px;
    }
    .contenedor-mesa {
        height:100vh;
        width:100%;
    }
    #foto-computadora {
        width: 100px;
        height:auto;
    }
    #foto-computadora p{
        display:flex;
        align-items:center;
        justify-content: center;
        height:5px;
    }
    .mano-computadora {
        top:35px;
        height:175px;
    }
    .mano-jugador {
        bottom:25px;
        height:175px;
    }
    .carta {
        width:100px;
        height:135px;
    }

    .cartas-computadora {
        width:80px;
        height:115px;
    }
    .centro-mesa-lado-computadora .cartas-computadora {
        width:100px;
        height:135px;
    }
    
    .centro-mesa-lado-computadora {
        align-items:center;
        height:130px;
    }
    .centro-mesa-lado-jugador {
        align-items:center;
        height:130px;
    }

    .botonera-jugador {
        display:flex;
        justify-content: center;
        height:55px;
        position:absolute;
        width:100%;
        bottom:15px;
        left:0;
    }
    .contenedor-botones {
        width:95%;
        height:50px;
        flex-direction: row;
        justify-content: center;
        align-items:center;
    }

    .contenedor-botones button {
        width:85px;
        height:50px;
    }
    .contenedor-boton-envido {
        top:-54px;
        height:159px;
        width:85px;
        gap:3px;
        position:relative;
        display:flex;
        flex-direction: column-reverse;
    }
    .boton-envido-activo {
        font-size:13px;
    }

    #foto-jugador {
        position:absolute;
        left:0;
        bottom:75px;
        width: 100px;
        height:auto;
    }
    #foto-jugador p{
        display:flex;
        align-items:center;
        justify-content: center;
        height:5px;
    }
    .dialogo-jugador {
        width:85px;
        height:35px;
        left:10px;
        top:-25px;
    }

    .dialogo-computadora {
        width:85px;
        height:35px;
        left:10px;
        bottom:-25px;
    }
}